@page "/chat"
@inherits ChatComponent

<div class="container">
    <div class="card" style="height: 30rem;overflow-y:scroll;">
        <div class="card-header bg-dark">
            <span class="text-white">Chat - @Hub.Name</span>
        </div>
        <div class="card-body">
            <ul id="discussion" class="list-unstyled">
                @foreach (var message in Hub.Messages)
                {
                    <MessageTemplate Item="@message" Name="@Hub.Name"></MessageTemplate>
                }
            </ul>
        </div>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Message:</span>
        </div>
        <input type="text" id="message" class="form-control" bind="@message" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="sendMessage" onclick="@SendMessage">Send</button>
        </div>
    </div>
</div>