<Modal Name="@Name">
    <ModalHeader>
        <h4 class="modal-title">@Title</h4>
        <button type="button" class="close" data-dismiss="modal" onclick="@(() => Result(MessageBoxResult.None))">&times;</button>
    </ModalHeader>
    <ModalBody>
        @Message
    </ModalBody>
    <ModalFooter>
        @if (ShowOk)
        {
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="@(() => Result(MessageBoxResult.OK))">OK</button>
        }
        @if (ShowYesNo)
        {
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="@(() => Result(MessageBoxResult.Yes))">Yes</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="@(() => Result(MessageBoxResult.No))">No</button>
        }
        @if (ShowCancel)
        {
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="@(()=> Result(MessageBoxResult.Cancel))">Cancel</button>
        }
    </ModalFooter>
</Modal>

@functions{
    [Parameter] string Name { get; set; }
    [Parameter] string Title { get; set; }
    [Parameter] RenderFragment Message { get; set; }

    [Parameter] MessageBoxButton Buttons { get; set; }
    [Parameter] Action<MessageBoxResult> Result { get; set; }

    bool ShowOk => Buttons == MessageBoxButton.OK || Buttons == MessageBoxButton.OKCancel;
    bool ShowYesNo => Buttons == MessageBoxButton.YesNo || Buttons == MessageBoxButton.YesNoCancel;
    bool ShowCancel => Buttons == MessageBoxButton.YesNoCancel || Buttons == MessageBoxButton.OKCancel;
}
